@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-style: normal;
    list-style: none;
    user-select: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #d3f8ff;
}

.main {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

/* -- Tableau -- */
table {
    position: relative;
    padding: 10px;
    width: 90%;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
}

table th {
    padding: 10px;
    border: 1px solid black;
}

table td {
    text-align: center;
    border: 1px solid black;
    padding: 5px 0 5px 0;
}

table tbody:nth-child(2n+2) {
    background-color: #d2d2d2;
}

.copy {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #b8b8b8;
}

.btn-back {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0084ff;
}